.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component-child,
.day-1390-feedback-pop-up-ui-de-child,
.group-child {
  /* position: absolute; */
  top: 0;
  left: 0;
  background-color: var(--dark);
  /* width: 1600px;
  height: 1200px; */
}
.component-child,
.group-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--white);
}
.component-child {
  border-radius: 25px;
  box-shadow: 0 15px 45px -15px rgba(2, 5, 132, 0.25);
}
/* .group-child {
  border-radius: var(--br-3xs);
  border: 1px solid #c3c3e4;
  box-sizing: border-box;
} */
.send {
  position: relative;
  font-weight: 500;
}
.bttnfilled {
  position: absolute;
  height: 72.97%;
  width: 13%;
  top: 13.51%;
  right: 1.29%;
  bottom: 13.51%;
  left: 85.71%;
  border-radius: var(--br-3xs);
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  box-sizing: border-box;
}
.tell-us-something {
  /* position: absolute; */ 
  width: 100%;
  /* top: 35.14%; */
  border-color: 2px solid gray;
  /* left: 3.86%; */
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-mulish);
  color: var(--dark);
  /* display: inline-block; */
  COLOR: BLACK;
  border-radius: 18px;
}
.rectangle-group {
  position: absolute;
  height: 14.31%;
  width: 84.64%;
  top: 67.31%;
  right: 7.63%;
  bottom: 18.38%;
  left: 7.73%;
  text-align: left;
  color: var(--white);
}
.iconsclose {
  position: absolute;
  height: 6.58%;
  width: 3.7%;
  top: 5.8%;
  right: 3.27%;
  bottom: 87.62%;
  left: 93.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.how-likely-are {
  position: absolute;
  /* width: 30.29%; */
  top: 14.51%;
  left: 13.86%;
  font-size: 26px;
  /* line-height: 24px; */
  display: inline-block;
  font-family: var(--font-merriweather);
}
.group-inner,
.group-item {
  position: absolute;
  border-radius: 50%;
}
.group-item {
  top: -5px;
  left: -5px;
  background-color: var(--white);
  width: 71px;
  height: 71px;
  display: none;
  opacity: 0.1;
}
.group-inner {
  top: 0;
  left: 0;
  background-color: var(--light-purple);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  width: 61px;
  height: 61px;
}
.div,
.ellipse-parent {
  position: absolute;
  top: 14px;
  left: 26px;
}
.ellipse-parent {
  top: 5px;
  left: 5px;
  width: 61px;
  height: 61px;
}
.componentsrounded-btn {
  width: 50px;
  position: relative;
  height: 53px;
}
.div1,
.div3 {
  position: absolute;
  top: 14px;
  left: 24px;
}
.div3 {
  left: 23px;
}
.group-child12,
.group-child13 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--pink);
}
.group-child12 {
  top: 0;
  left: 0;
  width: 71px;
  height: 71px;
  opacity: 0.1;
}
.group-child13 {
  top: 5px;
  left: 5px;
  border: 1px solid var(--pink);
  box-sizing: border-box;
  width: 61px;
  height: 61px;
}
.div7,
.ellipse-parent4 {
  position: absolute;
  top: 19px;
  left: 29px;
}
.ellipse-parent4 {
  top: 0;
  left: 0;
  width: 71px;
  height: 71px;
}
.componentsrounded-btn7 {
  width: 71px;
  position: relative;
  height: 71px;
  color: var(--white);
}
.div9 {
  position: absolute;
  top: 14px;
  left: 20px;
}
.componentsrounded-btn-parent {
  position: absolute;
  height: 68.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 31.07%;
  left: 0;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-3xl);
}
.extremely-likely,
.not-likely-at {
  position: absolute;
  top: 68.93%;
  left: 1.25%;
  line-height: 32px;
}
.extremely-likely {
  left: 78.5%;
}
.frame-parent {
  position: absolute;
  height: 19.92%;
  width: 87.15%;
  top: 41.59%;
  right: 6.43%;
  bottom: 38.49%;
  left: 6.43%;
  font-size: var(--font-size-sm);
}
.rectangle-parent {
  position: absolute;
  top: 89px;
  /* left: 38px; */
  margin-left: 275px;
  width: 677px;
  height: 333px;
  border-radius: 50px;
  background-color: #0f4d47;
  color: white;
}
.day-1390-feedback-pop-up-ui-de {
  /* width: 1600px; */
  background-color: var(--white);
  max-width: 100%;
  /* height: 1200px; */
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
